.page {
  height: 100%;
  width: 100%;
  max-width: 216rem;
}

.main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--grey-300);
}



.wrapper {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  width: 90%;
}

.img {
  &Box {
    position: relative;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  height: 10vh;
}

.copyright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--grey-300);
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 90%;
  }

  .img {
    &Box {
      flex: 0 1 100%;
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .page {
    height: 100vh;
  }

  .main {
    height: 96%;
    justify-content: flex-end;
  }
  
  .footer {
    height: 4%;
  }

  .wrapper {
    height: 90%;
  }

  .img {
    &Box {
      flex: 0 1 100%;
    }
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .grid {
    width: 80%;

    margin: 0 auto;
  }
}


//* 1536px
@media only screen and (min-width: 96em) {
  .grid {
    width: 60%;
  }
}