.wrapper {
  height: 650px;
  width: 100%;
  max-width: 100;
}

.mainContainer {
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  height: 40%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--white);
}

.mainHeading {
  font-size: 6.6rem;

  letter-spacing: 2px;

  @media only screen and (min-width: 64em) {
    letter-spacing: 2px;
  }
}

.btn {
  width: 18ch;
  padding: .75rem 1rem;
  
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;

  color: var(--white);
  background-color: var(--primary-900);
}

.mainHeading, 
.btn {
  z-index: 1;
}

@media only screen and (min-width: 64em) { 
  .btn {
    width: 20ch;
    padding: 1rem 2rem; 
    font-size: 1.6rem;
  }
}