//* -------------------------  FONTS  --------------------------- *//
.desktop-navigation
{
  &__information
  {
    font-size: 1.25rem;
  }

  &__menu
  {
    &--logo
    {
      font-size: 3.5rem;
      font-weight: 600;
    }

    &--tabs
    {
      font-size: 1.2rem;
    }
  }

  &__profile
  {
    font-size: 1.25rem;
  }
}


//* -------------------------  COLORS  -------------------------- *//
.desktop-navigation
{
  color: var(--white);
  background-image: linear-gradient(
    to bottom,
    rgba(#000000, 0.45),
    rgba(#000000, 0.01));

  &:hover {
    background-color: var(--black);
  }

  &__information
  {
    &--tabs
    {
      &--icon
      {
        filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%);
      }
    }
  }

  &__menu
  {
    &--tabs
    {
      &--icon
      {
        filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%);
      }
    }
  }

  &__profile
  {
    &--tabs
    {
      &--icon
      {
        filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%);
      }
    }
  }
}


//* ------------------------  STRUCTURE  ------------------------ *//
.desktop-navigation 
{ 
  height: 8rem;
  max-width: 216rem;
  width: 100%;

  display: none;
  position: fixed;

  padding: .25rem 1rem;
  z-index: 200;

  transition: all .3s;
  
  @media only screen and (min-width: 64.0625em) { display: block; } // 1025px

  &__main-container
  {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0 auto;
    padding: .75rem 1rem;
  }

  &__information 
  {
    flex: 0 1 25%;
    display: flex;

    &--tabs
    {
      display: flex;

      &--tab
      {
        margin: 0 .1rem;

        @media only screen and (min-width: 83.75em) { margin: 0 .35rem;}  // 1340px
        @media only screen and (min-width: 89.375em) { margin: 0 .65rem } // 1430px
      }

      &--icon
      {
        &-2
        {
          display: none;
        }
      }
    }
  }

  &__menu
  {
    flex: 1;
    &--container
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--tabs
    {
      display: flex;
      transition: all .5s;

      &:hover {
        display: flex;
      }

      &--tab
      {
        margin: 0 0.75rem;
        cursor: pointer;

        &:hover,
        &:focus {
          transform: translateY(-2px);
        }
      }

      &--icon
      {
        opacity: 0;

        &:hover {
          opacity: 100;
        }
      }
    }
  }

  &__profile
  {
    flex: 0 1 25%;
   
    &--tabs
    {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      margin: 0 1rem;
  
      cursor: pointer;

      &--tab
      {
        margin: 0 .65rem;
      }

      &--icon
      {
        &--box
        {
          display: flex;
          margin: 0 .55rem;
        }
      }
    }
  }

  &__menu--logo-box:hover + &__menu--tabs {
    display: flex;
  }

  &__menu--tabs--tab:hover + div div + &__menu--tabs--icon {
    opacity: 100;
  }
};


.nav-not-at-top {
  background-color: var(--black);
}
