
.wrapper {
  height: 92.5vh;
  width: 100%;
}

.mainContainer {
  height: 90%;
  width: 90%;

  background-color: blue;
}

.contentBox {
  height: 75%;
  width: 90%;
  max-width: 830px;

  padding: 1rem;

  background-color: var(--grey-lightest);
  
  & form {

  }
}

.mainHeading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.input {
  margin-top: .33rem;
  margin-bottom: 1rem;
}

.btnContainer {
  & > * {
    margin: 1.5rem 0;
    padding: .5rem 1rem;
  }

  & > *:nth-child(1) {
    margin-right: 1rem;
  }
  & > *:nth-child(2) {
    margin-left: 1rem;
  }
}

.labelFront {
  font-size: 1.8rem;
}

.container {

}


.textOne {

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}