
.wrapper {
  height: 92.5vh;
  width: 100%;
}

.mainContainer {
  height: 90%;
  width: 90%;
}

.contentBox {
  height: 75%;
  width: 90%;
  max-width: 830px;

  padding: 1rem;

  form {
    width: 100%;
  } 

  & > button {
    font-size: 1.6rem;

    &:hover {
      color: var(--secondary-darkest);
    }

    &:active,
    &:focus {
      outline: none;
      color: var(--primary-darker);
    }
  }

  & > button:nth-child(4) {
    margin-bottom: 3rem;
    padding: 1rem 3rem;
  
    border-radius: .5rem;
    border: 1px solid var(--black);
    background-color: var(--primary-100);

    &:hover {
      border: 1px solid var(--secondary-darkest);
    }

    &:active,
    &:focus {
      border: 1px solid var(--primary-darker);
    }
  }

  & > button:not(:nth-child(4)) {
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.mainHeading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: .5rem;
  letter-spacing: 2px;
}

.headingOne {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


//* 368px
@media only screen and (min-width: 23em) {
  .contentBox {
    form {
      width: 82.5%;
    }
  }

  .mainHeading {
    margin-bottom: 2rem;
  }
}

//* 528px
@media only screen and (min-width: 33em) {
  .contentBox {
    form {
      width: 70%;
    }
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .contentBox {
    form {
      width: 325px;
    }
  }

  .mainHeading {
    margin-bottom: 7rem;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .mainHeading {
    margin-bottom: 5rem;
  }
}