
.wrapper {
  height: 92.5vh;
  width: 100%;
}

.mainContainer {
  height: 90%;
  width: 90%;
}

.contentBox {
  height: 75%;
  width: 90%;
  max-width: 830px;

  padding: 1rem;

  & > *:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mainHeading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.input {
  width: 23ch;
  padding: .5rem;
  border: 1px solid var(--grey-600);
}

.labelFront {
  margin-bottom: -1.75rem;
  font-size: 1.8rem;
  align-self: flex-start;
}

.btnContainer {
  margin-top: .5rem;

  & > * {
    margin: 1.5rem 0;
    width: 10rem;
    padding: .5rem 1rem;
  
    color: white;
    background-color: var(--dark-grey-500);

    &:hover {
      background-color: var(--dark-grey-300);
    }
  }

  & > *:nth-child(1) {
    margin-right: 1rem;
  }
  & > *:nth-child(2) {
    margin-left: 1rem;
  }
}


.container {
  & p {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  & a {
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .2s;

    &:hover {
      transform: translateY(-0.15rem);
      color: var(--grey-600);
    }
  }

  & a:not(:last-child) {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 23em) {
  .mainHeading {
    margin-bottom: 3rem;
  }

  .input {
    width: 27ch;
  }
}

@media only screen and (min-width: 48em) {
  .mainHeading {
    margin-bottom: 5rem;
  }

  .input {
    width: 30ch;
    margin-top: .75rem;
  }

  .btnContainer {
    & > * {
      width: 12rem; 
    }
  }
}

@media only screen and (min-width: 64em) {
  .btnContainer {
    & > * {
      padding: 1rem 2rem; 
    }
  }
}