
.wrapper {
  height: 92.5vh;
  width: 100%;
}

.mainContainer {
  height: 90%;
  width: 90%;
}

.contentBox {
  height: 75%;
  width: 90%;
  max-width: 830px;

  padding: 1rem;

  & > button {
    &:hover {
      color: var(--secondary-darkest);
    }
  }

  & > button:not(:last-of-type) {
    margin-bottom: 3rem;
    padding: 1rem 3rem;
  
    border: 1px solid var(--black);
    border-radius: .5rem;

    &:hover {
      border: 1px solid var(--secondary-darkest);
    }
  }
}

.mainHeading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 5rem;
  letter-spacing: 2px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


//* 368px
@media only screen and (min-width: 23em) {
  .mainHeading {
    margin-bottom: 5rem;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .mainHeading {
    margin-bottom: 7rem;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .mainHeading {
    margin-bottom: 5rem;
  }
}