
.form {
  width: 100%;
  margin: 0 auto;

  & > input:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.input {
  height: 50px;
  width: 100%;
  padding: 1.5rem;
  margin: .55rem auto;
  border: 1px solid var(--black);
}


.btnContainer {
  width: 100%;

  display: flex;
  justify-content: space-around;

  margin-bottom: 5rem;

  & > input {
    width: 10ch;
    text-align: center;
    margin-top: 2rem;
    border-radius: .5rem;
    border: 1px solid var(--black);
  }
}


@media only screen and (min-width: 64em) {
  .input {
    padding: 1rem
  }

  .btnContainer {
    & > input {
      width: 13ch;
    }
  }
}