.wrapper
{
  flex: 0 1 30%;
  display: flex;

  font-size: 1.25rem;
}

.tabs 
{
  display: flex;
}

.tabText
{
  margin: 0 1rem;
  letter-spacing: 1px;

  @media only screen and (min-width: 83.75em) { margin: 0 .35rem;}  // 1340px
  @media only screen and (min-width: 89.375em) { margin: 0 .65rem } // 1430px
}

.icon
{
  filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%);
}