.wrapper
{
  flex: 0 1 30%;

  font-size: 1.25rem;
}

.tabs
{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 0 1rem;

  cursor: pointer;

  & > button {
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.tabText
{
  margin: 0 .65rem;
  letter-spacing: 1px;
}

.contentBox
{
  display: flex;
  margin: 0 .55rem;

  & > button {
    align-self: flex-start;
  }
}

.icon
{
  filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%);
}

.cartCount {
  margin: 0 .35rem;
  padding: .2rem .65rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.signed {
  &In {
    &Box {
      display: flex;
      margin: 0 .5rem;

      & > span:nth-child(1) {
        margin: 0 .5rem;
      }
      & > span:nth-child(3) {
        display: none;
      }
    }
  }

  &Out {
    &Box {
      display: flex;
    }
  }
}

//* 1088px (special)
@media only screen and (min-width: 68em) {
  .signed {
    &In {
      &Box {
        display: flex;
        margin: 0 .5rem;
  
        & > span:nth-child(1) {
          margin: 0 .5rem;
        }
        & > span:nth-child(2) {
          display: none;
        }
        & > span:nth-child(3) {
          display: block;
        }
      }
    }
  }
}