.wrapper {
  height:  650px;
  width: 100%;
  max-width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  height: 40%;
  width: 85%;
  max-width: 65.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--white);
  background-color: rgba(#000000, .55);
}


.mainHeading {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & span:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-weight: 200;
    font-size: 4.5rem;
    line-height: 1.2;
    
    &::after {
      content: "";
      height: 3px;
      width: 15rem;
      
      margin: 1rem 0;
      
      background-color: var(--grey-900);
    }
  }
  
  & span:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
  }
  
  @media only screen and (min-width: 26em) { // 416px
    & span:nth-child(1) {
      font-size: 5.5rem;
    }
  }
  @media only screen and (min-width: 48em) {
    & span:nth-child(1) {
      font-size: 6.6rem;

      &::after {
        width: 17.5rem;
      }
    }
  }
  @media only screen and (min-width: 64em) {
    & span:nth-child(1) {
      font-size: 7.7rem;

      &::after {
        width: 20rem;
      }
    }
  }
}