.wrapper {
  width: 100%;
  
  background-color: var(--grey-lighter);
}

.mainContainer {
  width: 80%;
  max-width: 64em;
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.contentBox {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headingTwo {
  font-weight: 200;
  z-index: 2;

  @media only screen and (min-width: 23em) {
    margin-top: -3rem;
  }
  @media only screen and (min-width: 64em) {
    margin-top: -10rem;
    margin-bottom: 2rem;
  }
}

.subHeadingOne {
  font-size: 2.5rem;
  font-weight: 200;

  margin-bottom: 2rem;

  z-index: 2;

  @media only screen and (min-width: 23em) {
    font-size: 3rem;
  }
  @media only screen and (min-width: 64em) {
    font-size: 3.5rem;
    margin-top: -2rem;
  }
}

.btn {
  margin-bottom: 5rem;
  padding: .5rem 1rem;

  color: var(--white);
  background-color: var(--dark-grey-300);

  z-index: 2;
  @media only screen and (min-width: 64em) { 
    padding: 1rem 2rem; 
  }
}