//* -------------------------  FONTS --------------------------- *//
.under-construction 
{
  &--main-heading 
  {
    font-size: 2.75rem;
    font-weight: 600;

    @media only screen and (min-width: 25.93em) { font-size: 3.85rem; }  // 415px
    @media only screen and (min-width: 71.44em) { font-size: 6rem; }  // 1143px 
  }

  &--text 
  {
    &-1,
    &-2 
    {
      font-size: 1.2rem;
      @media only screen and (min-width: 20.625em) {font-size: 1.35rem; }    // 330px
      @media only screen and (min-width: 25.93em) { font-size: 1.65rem; }    // 415px
      @media only screen and (min-width: 48em) { font-size: 1.45rem; }       // 768px
      @media only screen and (min-width: 63.5em) { font-size: 1.85rem; }       // 1024px
      @media only screen and (min-width: 71.44em)  { font-size: 1.85rem; }   // 1143px
      @media only screen and (min-width: 105.125em) { font-size: 2.35rem; }  // 1682px 
    }
  }

  &--button 
  {
    font-size: 1.65rem;
    @media only screen and (min-width: 63.5em) { font-size: 1.95rem; }       // 1024px
    @media only screen and (min-width: 71.44em)  { font-size: 1.95rem; }   // 1143px
    @media only screen and (min-width: 105.125em) { font-size: 2.35rem; }  // 1682px 
  }
}

//* -------------------------  COLORS -------------------------- *//
.under-construction
{
  &__main 
  {
    &-container
    {
      background-color: var(--grey-300);
    }
  }

  &--button
  {
    background-color: var(--grey-300);
  }
}

//* ------------------------  STRUCTURE ------------------------ *//
.under-construction 
{
  max-width: 216rem;
  margin: 0 auto;

  &__main 
  {
    height: 101vh;
  }
  
  &__main-container 
  {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 48em)  // 768px
    {
      justify-content: flex-end;
      background-image: url('/images/error/site-construction-huge.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__content--box
  {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 1rem;

    @media only screen and (min-width: 48em) { width: 50%; margin: 0; }  // 768px
    @media only screen and (min-width: 60.25em) { width: 45%; }          // 964px
    @media only screen and (min-width: 71.44em) { margin-right: 3rem; }  // 1143px 
  }


  &--text 
  {
    &-1 {
      margin-top: 1rem;
    }
  }

  
  &--button 
  {
    margin-top: 2rem;
    padding: .5rem 1rem;

    border-radius: .1rem;
  }
}
