.wrapper {

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 1 1;
  width: 100%;
  max-width: 600px;
}

.contentBox {
  width: 100%;

  margin: 1rem 0;

  text-align: center;
}

.subHeadingOne {
  font-style: italic;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  padding: .5rem 1rem;
  margin-bottom: 1rem;  
  
  letter-spacing: 2px;
  transition: all .5s;

  &:hover {
    color: var(--grey-500);
    transform: translateY(-0.1rem);
  }

  @media only screen and (min-width: 64em) { 
    padding: 1rem 2rem; 
  }
}