
.contentBox {
  color: var(--white);
}

.mainHeading {
  font-size: 6.5rem;
  font-weight: 200;
  letter-spacing: 2px;

  z-index: 10;

  @media only screen and (min-width: 48em) { 
    font-size: 10rem;
    letter-spacing: 4px; 
  }
}
