
.wrapper {
  height: 100%;
  width: 92.5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}
