.under-construction 
{
  max-width: 216rem;
  margin: 0 auto;
}

.under-construction__main 
{
  height: 101vh;
}


.under-construction__main-container 
{
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--grey-300);
}

.under-construction__content--box
{
  height: 70%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  margin: 1rem;
}

.under-construction--main-heading 
{
font-size: 2.75rem;
font-weight: 600; 
}

.under-construction--text-1 
{
  margin-top: 1rem;
}

.under-construction--text-1.under-construction--text-2 
{
  font-size: 1.2rem;
}

.under-construction--button 
{
  background-color: var(--grey-300);
  
  font-size: 1.65rem;
  margin-top: 2rem;
  padding: .5rem 1rem;

  border-radius: .1rem;
}


@media only screen and (min-width: 20.625em) 
{
  .under-construction--text-1.under-construction--text-2
  {
    font-size: 1.35rem;
  }
}    
@media only screen and (min-width: 25.93em) 
{ 
  .under-construction--main-heading
  {
    font-size: 3.85rem;
  }

  .under-construction--text-1.under-construction--text-2
  {
    font-size: 1.65rem;
  }
}   
@media only screen and (min-width: 48em) 
{ 
  .under-construction__main-container 
  {
    justify-content: flex-end;
    background-image: url('/images/error/site-construction-huge.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .under-construction__content--box
  {
    width: 50%; 
    margin: 0;
  }

  .under-construction--text-1.under-construction--text-2
  {
    font-size: 1.45rem;
  }
}      
@media only screen and (min-width: 60.25em)
{
  .under-construction__content--box
  {
    width: 45%; 
  }
}
@media only screen and (min-width: 63.5em) 
{
  .under-construction__content--box
  {
    width: 45%; 
    margin-right: 3rem;
  }
  
  .under-construction--text-1.under-construction--text-2
  {
    font-size: 1.65rem;
  }

  .under-construction--button
  {
    font-size: 1.8rem;
  }
}   
@media only screen and (min-width: 71.44em)  
{ 
  .under-construction--main-heading
  {
    font-size: 6rem;
  }

  .under-construction--text-1.under-construction--text-2
  {
    font-size: 1.85rem;
  }
}  
@media only screen and (min-width: 105.125em) 
{ 
  .under-construction--text-1.under-construction--text-2
  {
    font-size: 2.25rem;
  }
}