
.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;

  margin-bottom: 2rem;

  background-color: var(--grey-200);
}

.contentBox {
  height: 80%;
  width: 95%;
  
  margin-bottom: 2rem;
}

.desktopHeading {
  width: 90%;
  display: none;

  font-size: 2rem;
  font-weight: 200;
  padding: 1rem;

  color: var(--grey-900);
}

.mobileHeading {
  margin-top: 2rem;

  font-size: 3rem;
}

.container {
  height: 100%; //100%;
  min-height: 20rem;
  width: 98%;

  display: flex;
  flex-direction: column;

  border-top: 1px solid var(--grey-900);
  border-bottom: 1px solid var(--grey-900);

  & > p {
    text-align: center;
    padding: 1rem 0;
    color: var(--grey-900);
  }

  & > :not(:last-child) {
    border-bottom: 1px solid var(--grey-700); 
  }
}

//* 528px
@media only screen and (min-width: 33em) {
  .wrapper {
    width: 90%;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 85%;
    width: 100%;

    margin-bottom: 0;
  }

  .contentBox {
    height: 92.5%;
  }

  .desktopHeading {
    display: block;
  }

  .mobileHeading {
    display: none;
  }

  .container {
    overflow: auto;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .wrapper {
    height: 80%;
    min-height: 1055px;
  }

  .contentBox {
    margin-bottom: 0;
  }

  .container {
    & > p {
      text-align: left;
    }
  }

  .desktopHeading {
    font-size: 2.25rem;
  }
}

//* 1536px
@media only screen and (min-width: 96em) {
  .wrapper {
    & > *:nth-child(2) {
      flex: 0 1 30%;
    }
  }

  .desktopHeading {
    font-size: 2.5rem;
  }
}