//* -------------------------  COLORS  -------------------------- *//
.backdrop
{
  background: rgba($color:#dddddd, $alpha: .925) // grey-300
}


//* ------------------------  STRUCTURE  ------------------------ *//
.backdrop
{
  height: 100vh;
  width: 100%;

  z-index: 200;

  position: fixed;
  top: 0;
  left: 0;

  transition: all .5s ease-in-out;
  opacity: .95;
}