html {
  box-sizing: border-box;
  height: 108rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  list-style: none;
}

#app {
  position: relative;
  width: 216rem;
  margin: 0 auto;
}
