//* PRIMARY
.primary-lightest { color: var(--primary-lightest); }
.primary-lighter { color: var(--primary-lighter); }
.primary-light { color: var(--primary-light); }
.primary { color: var(--primary); }
.primary-dark { color: var(--primary-dark); }
.primary-darker { color: var(--primary-darker); }
.primary-darkest { color: var(--primary-darkest); }

.bgcolor-primary-lightest { background-color: var(--primary-lightest); }
.bgcolor-primary-lighter { background-color: var(--primary-lighter); }
.bgcolor-primary-light { background-color: var(--primary-light); }
.bgcolor-primary { background-color: var(--primary); }
.bgcolor-primary-dark { background-color: var(--primary-dark); }
.bgcolor-primary-darker { background-color: var(--primary-darker); }
.bgcolor-primary-darkest { background-color: var(--primary-darkest); }

.color-primary-100 { color: var(--primary-100); }
.color-primary-200 { color: var(--primary-200); }
.color-primary-300 { color: var(--primary-300); }
.color-primary-400 { color: var(--primary-400); }
.color-primary-500 { color: var(--primary-500); }
.color-primary-600 { color: var(--primary-600); }
.color-primary-700 { color: var(--primary-700); }
.color-primary-800 { color: var(--primary-800); }
.color-primary-900 { color: var(--primary-900); }

.bgcolor-primary-100 { background-color: var(--primary-100); }
.bgcolor-primary-200 { background-color: var(--primary-200); }
.bgcolor-primary-300 { background-color: var(--primary-300); }
.bgcolor-primary-400 { background-color: var(--primary-400); }
.bgcolor-primary-500 { background-color: var(--primary-500); }
.bgcolor-primary-600 { background-color: var(--primary-600); }
.bgcolor-primary-700 { background-color: var(--primary-700); }
.bgcolor-primary-800 { background-color: var(--primary-800); }
.bgcolor-primary-900 { background-color: var(--primary-900); }

//* SECONDARY
.secondary-lightest { color: var(--secondary-lightest); }
.secondary-lighter { color: var(--secondary-lighter); }
.secondary-light { color: var(--secondary-light); }
.secondary { color: var(--secondary); }
.secondary-dark { color: var(--secondary-dark); }
.secondary-darker { color: var(--secondary-darker); }
.secondary-darkest { color: var(--secondary-darkest); }

.bgcolor-secondary-lightest { background-color: var(--secondary-lightest); }
.bgcolor-secondary-lighter { background-color: var(--secondary-lighter); }
.bgcolor-secondary-light { background-color: var(--secondary-light); }
.bgcolor-secondary { background-color: var(--secondary); }
.bgcolor-secondary-dark { background-color: var(--secondary-dark); }
.bgcolor-secondary-darker { background-color: var(--secondary-darker); }
.bgcolor-secondary-darkest { background-color: var(--secondary-darkest); }

.color-secondary-100 { color: var(--secondary-100); }
.color-secondary-200 { color: var(--secondary-200); }
.color-secondary-300 { color: var(--secondary-300); }
.color-secondary-400 { color: var(--secondary-400); }
.color-secondary-500 { color: var(--secondary-500); }
.color-secondary-600 { color: var(--secondary-600); }
.color-secondary-700 { color: var(--secondary-700); }
.color-secondary-800 { color: var(--secondary-800); }
.color-secondary-900 { color: var(--secondary-900); }

.bgcolor-secondary-100 { background-color: var(--secondary-100); }
.bgcolor-secondary-200 { background-color: var(--secondary-200); }
.bgcolor-secondary-300 { background-color: var(--secondary-300); }
.bgcolor-secondary-400 { background-color: var(--secondary-400); }
.bgcolor-secondary-500 { background-color: var(--secondary-500); }
.bgcolor-secondary-600 { background-color: var(--secondary-600); }
.bgcolor-secondary-700 { background-color: var(--secondary-700); }
.bgcolor-secondary-800 { background-color: var(--secondary-800); }
.bgcolor-secondary-900 { background-color: var(--secondary-900); }

//* TERTIARY
.tertiary-lightest { color: var(--tertiary-lightest); }
.tertiary-lighter { color: var(--tertiary-lighter); }
.tertiary-light { color: var(--tertiary-light); }
.tertiary { color: var(--tertiary); }
.tertiary-dark { color: var(--tertiary-dark); }
.tertiary-darker { color: var(--tertiary-darker); }
.tertiary-darkest { color: var(--tertiary-darkest); }

.bgcolor-tertiary-lightest { background-color: var(--tertiary-lightest); }
.bgcolor-tertiary-lighter { background-color: var(--tertiary-lighter); }
.bgcolor-tertiary-light { background-color: var(--tertiary-light); }
.bgcolor-tertiary { background-color: var(--tertiary); }
.bgcolor-tertiary-dark { background-color: var(--tertiary-dark); }
.bgcolor-tertiary-darker { background-color: var(--tertiary-darker); }
.bgcolor-tertiary-darkest { background-color: var(--tertiary-darkest); }

.color-tertiary-100 { color: var(--tertiary-100); }
.color-tertiary-200 { color: var(--tertiary-200); }
.color-tertiary-300 { color: var(--tertiary-300); }
.color-tertiary-400 { color: var(--tertiary-400); }
.color-tertiary-500 { color: var(--tertiary-500); }
.color-tertiary-600 { color: var(--tertiary-600); }
.color-tertiary-700 { color: var(--tertiary-700); }
.color-tertiary-800 { color: var(--tertiary-800); }
.color-tertiary-900 { color: var(--tertiary-900); }

.bgcolor-tertiary-100 { background-color: var(--tertiary-100); }
.bgcolor-tertiary-200 { background-color: var(--tertiary-200); }
.bgcolor-tertiary-300 { background-color: var(--tertiary-300); }
.bgcolor-tertiary-400 { background-color: var(--tertiary-400); }
.bgcolor-tertiary-500 { background-color: var(--tertiary-500); }
.bgcolor-tertiary-600 { background-color: var(--tertiary-600); }
.bgcolor-tertiary-700 { background-color: var(--tertiary-700); }
.bgcolor-tertiary-800 { background-color: var(--tertiary-800); }
.bgcolor-tertiary-900 { background-color: var(--tertiary-900); }


//* GREY
.grey-lightest { color: var(--grey-lightest); }
.grey-lighter { color: var(--grey-lighter); }
.grey-light { color: var(--grey-light); }
.grey { color: var(--grey); }
.grey-dark { color: var(--grey-dark); }
.grey-darker { color: var(--grey-darker); }
.grey-darkest { color: var(--grey-darkest); }

.bgcolor-grey-lightest { background-color: var(--grey-lightest); }
.bgcolor-grey-lighter { background-color: var(--grey-lighter); }
.bgcolor-grey-light { background-color: var(--grey-light); }
.bgcolor-grey { background-color: var(--grey); }
.bgcolor-grey-dark { background-color: var(--grey-dark); }
.bgcolor-grey-darker { background-color: var(--grey-darker); }
.bgcolor-grey-darkest { background-color: var(--grey-darkest); }

.color-grey-100 { color: var(--grey-100); }
.color-grey-200 { color: var(--grey-200); }
.color-grey-300 { color: var(--grey-300); }
.color-grey-400 { color: var(--grey-400); }
.color-grey-500 { color: var(--grey-500); }
.color-grey-600 { color: var(--grey-600); }
.color-grey-700 { color: var(--grey-700); }
.color-grey-800 { color: var(--grey-800); }
.color-grey-900 { color: var(--grey-900); }

.bgcolor-grey-100 { background-color: var(--grey-100); }
.bgcolor-grey-200 { background-color: var(--grey-200); }
.bgcolor-grey-300 { background-color: var(--grey-300); }
.bgcolor-grey-400 { background-color: var(--grey-400); }
.bgcolor-grey-500 { background-color: var(--grey-500); }
.bgcolor-grey-600 { background-color: var(--grey-600); }
.bgcolor-grey-700 { background-color: var(--grey-700); }
.bgcolor-grey-800 { background-color: var(--grey-800); }
.bgcolor-grey-900 { background-color: var(--grey-900); }


//* DARK GREY
.dark-grey-lightest { color: var(--dark-grey-lightest); }
.dark-grey-lighter { color: var(--dark-grey-lighter); }
.dark-grey-light { color: var(--dark-grey-light); }
.dark-grey { color: var(--dark-grey); }
.dark-grey-dark { color: var(--dark-grey-dark); }
.dark-grey-darker { color: var(--dark-grey-darker); }
.dark-grey-darkest { color: var(--dark-grey-darkest); }

.bgcolor-dark-grey-lightest { background-color: var(--dark-grey-lightest); }
.bgcolor-grey-lighter { background-color: var(--dark-grey-lighter); }
.bgcolor-grey-light { background-color: var(--dark-grey-light); }
.bgcolor-grey { background-color: var(--dark-grey); }
.bgcolor-grey-dark { background-color: var(--dark-grey-dark); }
.bgcolor-grey-darker { background-color: var(--dark-grey-darker); }
.bgcolor-grey-darkest { background-color: var(--dark-grey-darkest); }

.bgcolor-dark-grey-100 { color: var(--dark-grey-100); }
.bgcolor-dark-grey-200 { color: var(--dark-grey-200); }
.bgcolor-dark-grey-300 { color: var(--dark-grey-300); }
.bgcolor-dark-grey-400 { color: var(--dark-grey-400); }
.bgcolor-dark-grey-500 { color: var(--dark-grey-500); }
.bgcolor-dark-grey-600 { color: var(--dark-grey-600); }
.bgcolor-dark-grey-700 { color: var(--dark-grey-700); }
.bgcolor-dark-grey-800 { color: var(--dark-grey-800); }
.bgcolor-dark-grey-900 { color: var(--dark-grey-900); }

.bgcolor-dark-grey-100 { background-color: var(--dark-grey-100); }
.bgcolor-dark-grey-200 { background-color: var(--dark-grey-200); }
.bgcolor-dark-grey-300 { background-color: var(--dark-grey-300); }
.bgcolor-dark-grey-400 { background-color: var(--dark-grey-400); }
.bgcolor-dark-grey-500 { background-color: var(--dark-grey-500); }
.bgcolor-dark-grey-600 { background-color: var(--dark-grey-600); }
.bgcolor-dark-grey-700 { background-color: var(--dark-grey-700); }
.bgcolor-dark-grey-800 { background-color: var(--dark-grey-800); }
.bgcolor-dark-grey-900 { background-color: var(--dark-grey-900); }

//* BLACK & WHITE
.black { color: var(--black); }
.pure-black { color: var(--pure-black); }

.white { color: var(--white); }
.pure-white { color: var(--pure-white); }

.filter-white { filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg) brightness(101%) contrast(104%); }

