.test01 {
  width: 100%;
  height: 100%;
  background-color: orangered;
}

.test02 {
  width: 100%;
  height: 100%;
  background-color: olivedrab;
}

.test03 {
  width: 100%;
  height: 100%;
  background-color: orchid;
}

.test04 {
  width: 100%;
  height: 100%;
  background-color: olivedrab;
}

.test05 {
  width: 100%;
  height: 100%;
  background-color: orchid;
}


.test {
  width: 100%;
  height: 100%;
  
  
  border: 1px solid var(--white);
  background-color: var(--grey-light);
}