 
.page {
  height: 100%;
  width: 100%;
  //max-width: 216rem;
}

.main {
  height: 96.5%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 85%;
  width: 90%;
  max-width: 1285px;

  & > div:not(:last-child) {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
}

.copyright {
  margin-bottom: 2rem;
}

//* 768px
@media only screen and (min-width: 48em) {
  .page {
    height: 100vh;
  }

  .grid {
    & > div:not(:last-child) {
      margin: 0;
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .grid {
    height: 80%;
  }
}

//* 1536px
@media only screen and (min-width: 96em) {

}
