 
.page {
  height: 100%;
  width: 100%;
  max-width: 216rem;
}

.main {
  height: 97.5%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 85%;
  width: 90%;
  max-width: 1285px;

  & > *:nth-child(1) {
    height: 100%;
    flex: 0 1 100%;
  
    background-color: orangered;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .page {
    height: 100vh;
  }

}

//* 1024px
@media only screen and (min-width: 64em) {
  .grid {
    height: 80%;
  }
}

//* 1536px
@media only screen and (min-width: 96em) {

}