.wrapper
{
  position: fixed;
  height: 5rem;
  width: 100%;
  padding: .75rem 1rem;
  z-index: 200;
  
  color: var(--white);
  background-color: rgba(#000000, 0.80); // black

  @media only screen and (min-width: 64em) { 
    display: none; 
  }
}

.mainContainer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;

  color: var(--white);

  @media only screen and (min-width: 19.75em) // 316px
  {
    font-size: 2.3rem;
    font-weight: 700;
  }
}

.contentBox
{
  margin: 0 .175rem;
  transition: all .2s;

  @media only screen and (min-width: 20.5em) {
     margin: 0 .8rem; 
  } // 328px
}

.icons
{
  flex: 0 1 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column
{
  display: flex;
  flex-direction: column;
}

.row
{
  display: flex;
}