.carousel
{
  height: 16rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--dark-grey-400); 
}

.container
{
  position: relative;
  height: 55%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.textBox
{
  width: 90%;

  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.headingOne
{
  width: 80%;

  display: flex;
  justify-content: center;
  text-align: center;

  margin-right: 2rem;

  font-size: 1.6rem;

  background-color: var(--dark-grey-400); 
  color: var(--white);

  @media only screen and (min-width: 48em) { 
    font-size: 2rem; 
  } // 768px
}

.btn
{
  width: 24rem;
  flex: 0 1;

  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;

  border-radius: .2rem;

  background-color: var(--white);
  color: var(--black);

  font-size: 1.4rem;
  font-weight: 700;
}