.wrapper
{
  position: fixed;
  height: 5rem;
  width: 100%;
  padding: .75rem 1rem;
  z-index: 200;
  
  color: var(--white);
  background-color: #000000; // black

  @media only screen and (min-width: 64em) { 
    display: none; 
  }
}

.mainContainer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;

  color: var(--white);

  @media only screen and (min-width: 19.75em) // 316px
  {
    font-size: 2.3rem;
    font-weight: 700;
  }
}

.contentBox
{
  //margin: 0 .175rem;
  transition: all .2s;

  @media only screen and (min-width: 20.5em) {
     margin: 0 .4rem; 
  } // 328px
}

.icons
{
  flex: 0 1 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > button {
    font-size: 1.2rem;
    margin-left: .15rem;

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
    }
  }
}
  
.cartCount {
  position: relative;
  height: 18px;
  width: 18px;

  border-radius: 50%;
  background-color: var(--primary);
  font-size: 1.4rem;
  transform: translate(-30%, -20%);
  
  & > span {
    position: absolute;
    transform: translate(55%, -10%);
  }
}

.emptyCart {
  margin: 0 .5rem;
}

.column
{
  display: flex;
  flex-direction: column;
}

.row
{
  display: flex;
}

//* 368px
@media only screen and (min-width: 23em) {
  .icons
  {
    & > button {
      font-size: 1.4rem;
      margin: 0 .2rem;
    }
  }
}