.arrow {
  position: absolute;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  border-radius: 50%;
  transition: transform ease-in 0.1s;
  cursor: pointer;

  color: var(--white);
  background-color: transparent;

  &:hover {
    transform: translateY(-2);
  }

  & span {
    &:focus {
      outline: 0;
    }
  }
}

.left {
  transform: rotate(180deg);
  margin-right: 3.75rem;
}

.right {
  margin-left: 3.75rem;
}

.right,
.left {
  font-size: 3.5rem;

  @media only screen and (min-width: 48em) { font-size: 4.25rem; }
  @media only screen and (min-width: 64em) { font-size: 4.75rem; margin: 0; }

  z-index: 2;
}