
//* -------------------------  FONTS  --------------------------- *//
.mobile-navigation 
{
  &__menu 
  {
    &--text {
      font-size: 1.6rem;
    }
  }

  &__logo 
  {
    font-size: 1.8rem;
    font-weight: 700;

    @media only screen and (min-width: 19.75em) // 316px
    {
      font-size: 2.3rem;
      font-weight: 700;
    }
  }
}


//* -------------------------  COLORS  -------------------------- *//
.mobile-navigation
{
  color: var(--white);
  background-color: rgba(#000000, 0.85); // black

  &__menu
  {
    &-tab 
    {
      &--background 
      {
        background:rgba(#dddddd, 0.85); // grey-300
      }
    }
  }
}


//* ------------------------  STRUCTURE  ------------------------ *//
.mobile-navigation 
{
  position: fixed;
  height: 4.872rem;
  width: 100%;
  padding: .75rem 1rem;
  z-index: 200;

  @media only screen and (min-width: 48em) { display: none; }

  &__main-container 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  &__menu 
  {
    &-tab {
      flex: 0 1 35%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      &--background 
      {
        height: 100vh;
        width: 102.5%;
  
        position: fixed;
        top: 4.872rem;
        z-index: 100;
        
        transform: translate(-2.5%, -110%);
        transition: all .5s;
      }
    }
  }

  &__checkbox { 
    display: none; 

    &--button 
    {
      display: flex;
      justify-content: center;
      align-items: center;
  
      &--icon 
      {
        position: relative;
  
        margin-right: 1rem;
        &,
        &::before,
        &::after {
          display: inline-block;
          width: 2rem;
          height: 2px;
          background-color: var(--white);
        }
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .35s;
        }
    
        // places the ::before and ::after elements above/below the parent icon
        &::before { top: -0.65rem; }
        &::after {top: 0.65rem; }
      }
    }
  }

  &__logo 
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icons 
  {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__icon 
  {
    margin: 0 .175rem;
    transition: all .2s;

   @media only screen and (min-width: 20.5em) { margin: 0 .4rem; } // 328px
  }


  //* --------------------  FUNCTIONALITY  -------------------- *//
  &__checkbox:checked ~ &__menu-tab--background { transform: translate(-2.5%, 0); }


  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon { background-color: transparent; }

  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
