
//* -------------------------  FONTS --------------------------- *//
.mobile-navigation 
{
  &__menu 
  {
    &--text {
      font-size: 1.6rem;
    }
  }

  
  &__logo 
  {
    font-size: 1.8rem;
    font-weight: 700;

    @media only screen and (min-width: 19.75em) // 316px
    {
      font-size: 2.3rem;
      font-weight: 700;
    }
  }
}


//* -------------------------  COLORS -------------------------- *//
.mobile-navigation
{
  color: var(--white);
  background-color: var(--black);
}


//* ------------------------  STRUCTURE ------------------------ *//
.mobile-navigation 
{
  padding: .75rem 1rem;

  @media only screen and (min-width: 48em) {
    display: none;
  }


  &__main-container 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__menu 
  {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
    &--button {
      position: relative;
  
      margin-right: 1rem;
      &,
      &::before,
      &::after {
        display: inline-block;
        width: 2rem;
        height: 2px;
        background-color: var(--white);
      }
  
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .35s;
      }
  
      // places the ::before and ::after elements above/below the parent icon
      &::before { top: -0.6rem; }
      &::after {top: 0.6rem; }
    }
  }


  &__logo 
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  &__icons 
  {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


  &__icon {
   margin: 0 .175rem;

   @media only screen and (min-width: 20.5em) // 328px
   {
     margin: 0 .4rem;
   }
  }
}
