
//* -------------------------  FONTS  --------------------------- *//
.mobile-navigation 
{
  &__menu 
  {
    &--text { font-size: 1.6rem; }
    &--tabs { font-size: 2rem; font-weight: 600;}
    
    &--toggle-button label {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &--carousel
    {
      &--heading-1
      {
        font-size: 1.8rem;
      }

      &--button 
      {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    &--sign-in
    {
      &--text {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }

  &__logo 
  {
    font-size: 1.8rem;
    font-weight: 700;

    @media only screen and (min-width: 19.75em) // 316px
    {
      font-size: 2.3rem;
      font-weight: 700;
    }
  }

}


//* -------------------------  COLORS  -------------------------- *//
.mobile-navigation
{
  color: var(--white);
  background-color: rgba(#000000, 0.85); // black

  &__menu-tab 
  {
    &--background { background:rgba(#dddddd, 0.85); } // grey-300
  }

  &__menu
  {
    color: var(--dark-grey-800);
    background: var(--white);

    &--carousel 
    { 
      background-color: var(--dark-grey-400); 

      &--heading-1 {
        background-color: var(--dark-grey-400); 
        color: var(--white);
      }

      &--button {
        background-color: var(--white);
        color: var(--black);
      }
    }

    &--sign-in 
    {
      color: var(--dark-grey-900);
    }
  }
}


//* ------------------------  STRUCTURE  ------------------------ *//
.mobile-navigation 
{
  position: fixed;
  height: 5rem;
  width: 100%;
  padding: .75rem 1rem;
  z-index: 200;

  @media only screen and (min-width: 48em) { display: none; }

  &__main-container 
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   

  &__menu-tab 
  {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &--background 
    {
      height: 100vh;
      width: 100%;

      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      
      padding: 1rem;

      transform: translate(0, -110%);
      transition: all .5s;
    }
  }

  &__menu 
  {
    height: 98%;
    width: 100%;

    margin: auto;

    &--container
    {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &--toggle-button {
      width: 95%;
  
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem;
    }

    &--tabs 
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -3rem;
      margin-bottom: 1rem;

      &--tab {
        margin: .3rem 0;
      }
    }

    &--carousel 
    {
      height: 15rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &--text-box {
        width: 90%;

        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      &--heading-1 {
        width: 80%;

        display: flex;
        justify-content: center;
        text-align: center;

        margin-right: 2rem;
      }

      &--button {
        width: 90%;

        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: .2rem;
      }
    }

    &--sign-in
    {
      height: flex 1;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__checkbox { 
    display: none; 

    &--button 
    {
      display: flex;
      justify-content: center;
      align-items: center;
  
      &--icon 
      {
        position: relative;
  
        margin-right: 1rem;
        &,
        &::before,
        &::after {
          display: inline-block;
          width: 2rem;
          height: 2px;
          background-color: var(--white);
        }
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .35s;
        }
    
        // places the ::before and ::after elements above/below the parent icon
        &::before { top: -0.65rem; }
        &::after {top: 0.65rem; }
      }
    }
  }


  &__logo 
  {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icons 
  {
    flex: 0 1 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__icon 
  {
    margin: 0 .175rem;
    transition: all .2s;

   @media only screen and (min-width: 20.5em) { margin: 0 .4rem; } // 328px
  }


  //* --------------------  FUNCTIONALITY  -------------------- *//
  &__checkbox:checked ~ &__menu-tab--background { transform: translate(0, 0); }


  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon { background-color: transparent; }

  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__checkbox--button &__checkbox--button--icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
